* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

[class*="col-"] {
    float: left;
}

/* COLUMNS */

.col-1 {
    width: calc((100% / 12)* 1);
}

.col-2 {
    width: calc((100% / 12)* 2);
}

.col-3 {
    width: calc((100% / 12)* 3);
}

.col-4 {
    width: calc((100% / 12)* 4);
}

.col-5 {
    width: calc((100% / 12)* 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12)* 7);
}

.col-8 {
    width: calc((100% / 12)* 8);
}

.col-9 {
    width: calc((100% / 12)* 9);
}

.col-10 {
    width: calc((100% / 12)* 10);
}

.col-11 {
    width: calc((100% / 12)* 11);
}

.col-12 {
    width: 100%;
}

/* OFFSET */

.col-offset-1 {
    margin-left: calc((100% / 12)* 1);
}

.col-offset-2 {
    margin-left: calc((100% / 12)* 2);
}

.col-offset-3 {
    margin-left: calc((100% / 12)* 3);
}

.col-offset-4 {
    margin-left: calc((100% / 12)* 4);
}

.col-offset-5 {
    margin-left: calc((100% / 12)* 5);
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: calc((100% / 12)* 7);
}

.col-offset-8 {
    margin-left: calc((100% / 12)* 8);
}

.col-offset-9 {
    margin-left: calc((100% / 12)* 9);
}

.col-offset-10 {
    margin-left: calc((100% / 12)* 10);
}

.col-offset-11 {
    margin-left: calc((100% / 12)* 11);
}

/* EXTRA-SMALL SCREENS */

@media screen and (max-width: 767px) {
    .col-xs-1 {
        width: calc((100% / 12)* 1);
    }
    .col-xs-2 {
        width: calc((100% / 12)* 2);
    }
    .col-xs-3 {
        width: calc((100% / 12)* 3);
    }
    .col-xs-4 {
        width: calc((100% / 12)* 4);
    }
    .col-xs-5 {
        width: calc((100% / 12)* 5);
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: calc((100% / 12)* 7);
    }
    .col-xs-8 {
        width: calc((100% / 12)* 8);
    }
    .col-xs-9 {
        width: calc((100% / 12)* 9);
    }
    .col-xs-10 {
        width: calc((100% / 12)* 10);
    }
    .col-xs-11 {
        width: calc((100% / 12)* 11);
    }
    .col-xs-12 {
        width: 100%;
    }

    /* SMALL SCREENS OFFSET */

    .col-xs-offset-1 {
        margin-left: calc((100% / 12)* 1);
    }
    .col-xs-offset-2 {
        margin-left: calc((100% / 12)* 2);
    }
    .col-xs-offset-3 {
        margin-left: calc((100% / 12)* 3);
    }
    .col-xs-offset-4 {
        margin-left: calc((100% / 12)* 4);
    }
    .col-xs-offset-5 {
        margin-left: calc((100% / 12)* 5);
    }
    .col-xs-offset-6 {
        margin-left: 50%;
    }
    .col-xs-offset-7 {
        margin-left: calc((100% / 12)* 7);
    }
    .col-xs-offset-8 {
        margin-left: calc((100% / 12)* 8);
    }
    .col-xs-offset-9 {
        margin-left: calc((100% / 12)* 9);
    }
    .col-xs-offset-10 {
        margin-left: calc((100% / 12)* 10);
    }
    .col-xs-offset-11 {
        margin-left: calc((100% / 12)* 11);
    }
}


/* MEDIUM SCREENS */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-mid-1 {
        width: calc((100% / 12)* 1);
    }
    .col-mid-2 {
        width: calc((100% / 12)* 2);
    }
    .col-mid-3 {
        width: calc((100% / 12)* 3);
    }
    .col-mid-4 {
        width: calc((100% / 12)* 4);
    }
    .col-mid-5 {
        width: calc((100% / 12)* 5);
    }
    .col-mid-6 {
        width: 50%;
    }
    .col-mid-7 {
        width: calc((100% / 12)* 7);
    }
    .col-mid-8 {
        width: calc((100% / 12)* 8);
    }
    .col-mid-9 {
        width: calc((100% / 12)* 9);
    }
    .col-mid-10 {
        width: calc((100% / 12)* 10);
    }
    .col-mid-11 {
        width: calc((100% / 12)* 11);
    }
    .col-mid-12 {
        width: 100%;
    }

    /* MEDIUM SCREENS OFFSET */
    
    .col-mid-offset-1 {
        margin-left: calc((100% / 12)* 1);
    }
    .col-mid-offset-2 {
        margin-left: calc((100% / 12)* 2);
    }
    .col-mid-offset-3 {
        margin-left: calc((100% / 12)* 3);
    }
    .col-mid-offset-4 {
        margin-left: calc((100% / 12)* 4);
    }
    .col-mid-offset-5 {
        margin-left: calc((100% / 12)* 5);
    }
    .col-mid-offset-6 {
        margin-left: 50%;
    }
    .col-mid-offset-7 {
        margin-left: calc((100% / 12)* 7);
    }
    .col-mid-offset-8 {
        margin-left: calc((100% / 12)* 8);
    }
    .col-mid-offset-9 {
        margin-left: calc((100% / 12)* 9);
    }
    .col-mid-offset-10 {
        margin-left: calc((100% / 12)* 10);
    }
    .col-mid-offset-11 {
        margin-left: calc((100% / 12)* 11);
    }
}

/* DESKTOP SCREENS */

@media screen and (min-width: 992px){
    .col-big-1 {
        width: calc((100% / 12)* 1);
    }
    .col-big-2 {
        width: calc((100% / 12)* 2);
    }
    .col-big-3 {
        width: calc((100% / 12)* 3);
    }
    .col-big-4 {
        width: calc((100% / 12)* 4);
    }
    .col-big-5 {
        width: calc((100% / 12)* 5);
    }
    .col-big-6 {
        width: 50%;
    }
    .col-big-7 {
        width: calc((100% / 12)* 7);
    }
    .col-big-8 {
        width: calc((100% / 12)* 8);
    }
    .col-big-9 {
        width: calc((100% / 12)* 9);
    }
    .col-big-10 {
        width: calc((100% / 12)* 10);
    }
    .col-big-11 {
        width: calc((100% / 12)* 11);
    }
    .col-big-12 {
        width: 100%;
    }

    /* DESKTOP SCREENS OFFSET */
    
    .col-big-offset-1 {
        margin-left: calc((100% / 12)* 1);
    }
    .col-big-offset-2 {
        margin-left: calc((100% / 12)* 2);
    }
    .col-big-offset-3 {
        margin-left: calc((100% / 12)* 3);
    }
    .col-big-offset-4 {
        margin-left: calc((100% / 12)* 4);
    }
    .col-big-offset-5 {
        margin-left: calc((100% / 12)* 5);
    }
    .col-big-offset-6 {
        margin-left: 50%;
    }
    .col-big-offset-7 {
        margin-left: calc((100% / 12)* 7);
    }
    .col-big-offset-8 {
        margin-left: calc((100% / 12)* 8);
    }
    .col-big-offset-9 {
        margin-left: calc((100% / 12)* 9);
    }
    .col-big-offset-10 {
        margin-left: calc((100% / 12)* 10);
    }
    .col-big-offset-11 {
        margin-left: calc((100% / 12)* 11);
    }
}